
@font-face {
  font-family: seven;
  src: url(image/Seven\ Segment.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: seven,sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-face{
    max-width: 70%;
    max-height: 70%;
}

.center-dot{
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    z-index: 8;
}

.seconds,.hour,.min {
    height: 20vw;
    width: 1vw;
    box-sizing: border-box;
    background-color: crimson;
    position: absolute;
    top: 50%;  
    left: 49.5%; 
    transform: translate(-50%, -50%);
    transform-origin: top;
    border-radius: 100px;
    z-index: 7;
  }

  .hour{
    height: 18%;
    transform: rotateZ(180deg);
    background-color: black;
    z-index: 4;
  }

  .min{
    background-color: black;
    z-index: 3;
  }
